ion-button{
    --background: black;
    width: 170px;
    font-size: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.atras{
    --background: #222428; /* Color de fondo personalizado */
    --color: white; /* Color del texto */
    justify-content: center;
    align-items: center;
    --box-shadow: none; /* Elimina la sombra */
    --border-radius: 0; /* Elimina el radio de borde */
    --border-width: 0; /* Elimina el ancho del borde */
}


@media (min-width: 768px) {
    form{
        width: 500px;
        padding: 50px 10px;
    }
}

ion-icon{
    width: 30px;
    height: 30px;
}

.image-container {
    width: 100%;
    height: 180px; /* Ajusta la altura del contenedor de imagen según sea necesario */
    border: 2px solid #575656;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    display: block;
    margin: auto;
}

ion-icon{
    width: 30px;
    height: 30px;
}

ion-item{
    --background: #222428;
    color: aliceblue;
}

ion-icon{
    color: white
}