<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-list>

        <!-- Lista de ejercicios -->
        <ion-item *ngFor="let exercice of exercices">
          <ion-col size="2">
            <img style="max-width: 200px; height: auto;" src="{{ exercice.img_exercice }}" alt="{{ exercice.img_exercice }} Imagen">
          </ion-col>
          
          <ion-col size="3">
            <ion-label>
              <h2>{{ exercice.name }}</h2>
              <input type="hidden" id="exerciceId" name="exerciceId" value="{{exercice.id}}">
              <p>Clase de ejercicio: {{ exercice.class_exercice }}</p>
              <p>Expertis de ejercicio: {{ exercice.expertis_exercice }}</p>
              <p>Descripción de ejercicio: {{ exercice.description_exercice }}</p>
              <p>Nivel principiante: {{ exercice.beginer_exercice }}</p>
              <p>Nivel intermedio: {{ exercice.inter_exercice }}</p>
              <p>Nivel avanzado: {{ exercice.expert_exercice }}</p>
            </ion-label>
            
            <!-- Botones para actualizar y eliminar -->
            <ion-button (click)="loadExerciceData(exercice.id); setModalState(true)" color="primary">Actualizar</ion-button>
            <ion-button (click)="deleteExercice(exercice.id)" color="danger">Eliminar</ion-button>

          </ion-col>

        </ion-item>

      </ion-list>

    </ion-row>

  </ion-grid>

  <!-- Modal para actualizar ejercicio -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setModalState(false)">
              <ion-icon slot="end" name="arrow-undo-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <!--FORMULARIO DE EDICIÓN-->
          <ion-card>

            <form [formGroup]="form" (ngSubmit)="updateExercice()">

              <app-custom-input [control]="form.controls.name" type="string" label="Nombre de Ejercicio"></app-custom-input>
              <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.dirty">
                <div *ngIf="form.controls.name.errors?.['required']">Asigna un nombre al ejercicio</div>
              </div>
        
              <app-custom-input [control]="form.controls.class_exercice" type="string" label="Clase de Ejercicio"></app-custom-input>
              <div class="validators" *ngIf="form.controls.class_exercice.errors && form.controls.class_exercice.dirty">
                <div *ngIf="form.controls.class_exercice.errors?.['required']">Ingresa el tipo de ejercicio</div>
              </div>
        
              <app-custom-input [control]="form.controls.expertis_exercice" type="string" label="Expertís del Ejercicio"></app-custom-input>
              <div class="validators" *ngIf="form.controls.expertis_exercice.errors && form.controls.expertis_exercice.dirty">
                <div *ngIf="form.controls.expertis_exercice.errors?.['required']">Ingresa la disciplina a la cual pertenece el ejercicio</div>
              </div>
        
              <app-custom-input [control]="form.controls.description_exercice" type="string" label="Descripción"></app-custom-input>
              <div class="validators" *ngIf="form.controls.description_exercice.errors && form.controls.description_exercice.dirty">
                <div *ngIf="form.controls.description_exercice.errors?.['required']">Añade una descripción al ejercicio</div>
              </div>
        
              <app-custom-input [control]="form.controls.beginer_exercice" type="string" label="Progresión inicial"></app-custom-input>
              <div class="validators" *ngIf="form.controls.beginer_exercice.errors && form.controls.beginer_exercice.dirty">
                <div *ngIf="form.controls.beginer_exercice.errors?.['required']">Ingresa una progresión para principiantes</div>
              </div>
        
              <app-custom-input [control]="form.controls.inter_exercice" type="string" label="Progresión intermedia"></app-custom-input>
              <div class="validators" *ngIf="form.controls.inter_exercice.errors && form.controls.inter_exercice.dirty">
                <div *ngIf="form.controls.inter_exercice.errors?.['required']">Ingresa una progresión para intermedios</div>
              </div>
        
              <app-custom-input [control]="form.controls.expert_exercice" type="string" label="Progresión avanzada"></app-custom-input>
              <div class="validators" *ngIf="form.controls.expert_exercice.errors && form.controls.expert_exercice.dirty">
                <div *ngIf="form.controls.expert_exercice.errors?.['required']">Ingresa el ejercicio para avanzados</div>
              </div>

              <ion-button (click)="takeImage()" expand="full" shape="round" class="image-button">
                Seleccionar Imagen
              </ion-button>
        
              <div class="image-container">
                <ng-container *ngIf="form.value.img_exercice">
                  <ion-item>
                    <img [src]="form.value.img_exercice"/>
                  </ion-item>
                </ng-container>
              </div>

              <ion-button expand="full" type="submit" [disabled]="form.invalid">Actualizar Ejercicio</ion-button>
            </form>

        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Botón para crear nuevo ejercicio -->
  <ion-button expand="block" color="warning" [routerLink]="['/tabs/subrutinas/crud-crear-ejercicio']">Crear Nuevo Ejercicio</ion-button>

</ion-content>

<!-- Footer / Tabs -->
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>
