
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crud-put</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <form (keyup.enter)="createNewExercice()" (ngSubmit)="createNewExercice()" class="ion-text-center">

      <app-custom-input [control]="form.controls.name" type="string" label="Nombre de Ejercicio"></app-custom-input>
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.dirty">
        <div *ngIf="form.controls.name.errors?.['required']">Asigna un nombre al ejercicio</div>
      </div>

      <app-custom-input [control]="form.controls.class_exercise" type="string" label="Clase de Ejercicio"></app-custom-input>
      <div class="validators" *ngIf="form.controls.class_exercise.errors && form.controls.class_exercise.dirty">
        <div *ngIf="form.controls.class_exercise.errors?.['required']">Ingresa el tipo de ejercicio</div>
      </div>

      <app-custom-input [control]="form.controls.expertis_exercise" type="string" label="Expertís del Ejercicio"></app-custom-input>
      <div class="validators" *ngIf="form.controls.expertis_exercise.errors && form.controls.expertis_exercise.dirty">
        <div *ngIf="form.controls.expertis_exercise.errors?.['required']">Ingresa la disciplina a la cual pertenece el ejercicio</div>
      </div>

      <app-custom-input [control]="form.controls.img_exercise" type="string" label="Imagen"></app-custom-input>
      <div class="validators" *ngIf="form.controls.img_exercise.errors && form.controls.img_exercise.dirty">
        <div *ngIf="form.controls.img_exercise.errors?.['required']">Ingresa una imagen al ejercicio</div>
      </div>

      <app-custom-input [control]="form.controls.description_exercise" type="string" label="Descripción"></app-custom-input>
      <div class="validators" *ngIf="form.controls.description_exercise.errors && form.controls.description_exercise.dirty">
        <div *ngIf="form.controls.description_exercise.errors?.['required']">Añade una descripción al ejercicio</div>
      </div>

      <app-custom-input [control]="form.controls.beginer_exercise" type="string" label="Progresión inicial"></app-custom-input>
      <div class="validators" *ngIf="form.controls.beginer_exercise.errors && form.controls.beginer_exercise.dirty">
        <div *ngIf="form.controls.beginer_exercise.errors?.['required']">Ingresa una progresión para principiantes</div>
      </div>

      <app-custom-input [control]="form.controls.inter_exercise" type="string" label="Progresión intermedia"></app-custom-input>
      <div class="validators" *ngIf="form.controls.inter_exercise.errors && form.controls.inter_exercise.dirty">
        <div *ngIf="form.controls.inter_exercise.errors?.['required']">Ingresa una progresión para intermedios</div>
      </div>

      <app-custom-input [control]="form.controls.expert_exercise" type="string" label="Nivel de Actividad Física"></app-custom-input>
      <div class="validators" *ngIf="form.controls.expert_exercise.errors && form.controls.expert_exercise.dirty">
        <div *ngIf="form.controls.expert_exercise.errors?.['required']">Ingresa el ejercicio para avanzados</div>
      </div>

      <ion-button class="ion-margin-vertical" [disabled]="form.invalid" type="submit" shape="round" expand="full">
        Crear Ejercicio
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

    </form>
  </ion-card>
  

</ion-content>

<!-- FOOTER // TABS -->
  
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>
