ion-button{
    --background: black;
    width: 170  px;
    font-size: 10px;
    margin: auto;
}


@media (min-width: 768px) {
    form{
        width: 500px;
        padding: 50px 10px;
    }
}

ion-icon{
    width: 30px;
    height: 30px;
}

ion-item{
    --background: #222428;
    color: aliceblue;
}

ion-icon{
    color: white
}