


<!--<ion-content class="ion-padding">
  
  <h5>
   A continuación, verás una lista con nuestras sugerencias de recetas diarias de alimentos altos en proteina para mejorar tu condición física:
 </h5>

 <ion-card *ngFor="let food of foods" class="food-card">
  <img [src]="food.img" />
  <ion-card-content>
    <div>
      <h1 class="food-title">{{ food.name }}</h1>
    </div>

    <div class="nutrition-section">
      <div class="nutrition-category">
        <h3>Calorías:</h3>
        <p>{{ food.calories }} kcal</p>
      </div>
      <div class="nutrition-category">
        <h3>Proteína:</h3>
        <p>{{ food.protein }}g</p>
      </div>
    </div>

    <div class="nutrition-section">
      <div class="nutrition-category">
        <p>Grasa:</p>
        <p>{{ food.fats }}g</p>
      </div>
      <div class="nutrition-category">
        <p>Carbohidratos:</p>
        <p>{{ food.carbs }}g</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>



</ion-content>

<!-- FOOTER // TABS -->
  
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>