<!-- proteina.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Proteína
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página -->
  <ion-card *ngFor="let food of foodsWithThresholds" class="food-card">
    <ion-card-header>
      {{ food.name }}
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="food.img" [alt]="food.name"></ion-img>
      <p>Calorías: {{ food.calories }}</p>
      <p>Carbohidratos: {{ food.carbs }}</p>
      <p>Grasas: {{ food.fats }}</p>
      <p>Proteínas: {{ food.protein }}</p>
    </ion-card-content>

  </ion-card>
</ion-content>


<!-- FOOTER // TABS -->
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>
