.food-card {
  width: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-img {
  width: 100%;
  height: 100%; /* Ajustado para que la imagen ocupe toda la altura de la tarjeta */
  object-fit: cover;
}

ion-card-content {
  padding: 15px;
}

.food-details {
  display: flex;
  flex-direction: column;
}

.food-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.nutrition-info {
  display: flex;
  justify-content: space-between;
}

.nutrition-category {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2em;
  margin-right: 5px;
}

.high-protein {
  color: #4CAF50; /* Color verde para resaltar alimentos ricos en proteínas */
}
