.food-card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .food-card ion-card-content {
    padding: 16px;
  }
  
  .food-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .nutrition-section {
    display: flex;
    justify-content: space-between;
  }
  
  .nutrition-category {
    text-align: left;
  }
  
  .nutrition-category h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
  }
  
  .nutrition-category p {
    font-size: 18px;
    color: #ceff25;
    margin-bottom: 4px;
  }
  
  