<app-header backButton="../" title="Crear Alimento"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crud-put</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <form [formGroup]="foodForm" (ngSubmit)="createNewFood()">

      <app-cam (imageSelected)="onImageSelected($event)"></app-cam>

      <ion-item>
        <ion-label position="floating" for="name">Nombre:</ion-label>
        <ion-input type="text" formControlName="name" id="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="calories">Calorías:</ion-label>
        <ion-input type="text" formControlName="calories" id="calories"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="carbs">Carbohidratos:</ion-label>
        <ion-input type="text" formControlName="carbs" id="carbs"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="fats">Grasas:</ion-label>
        <ion-input type="text" formControlName="fats" id="fats"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label for="protein">Proteínas:</ion-label>
        <ion-input type="text" formControlName="protein" id="protein"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="selectedImage">
        <img [src]="selectedImage" alt="Imagen seleccionada" style="width: 200px; height: 300px;">
      </ion-item>
      
      <ion-button expand="full" type="submit" [disabled]="foodForm.invalid">Crear Alimento</ion-button>
    </form>
  </ion-card>
</ion-content>
