<ion-item *ngIf="!isTextArea()" class="ion-margin-vertical">
  <ion-icon *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  <ion-label position="floating">{{label}}</ion-label>
  <ng-container *ngIf="isFormControl()">
    <ion-input debounce="500" [autocomplete]="autocomplete" [type]="type" [formControl]="control"></ion-input>
  </ng-container>
  
  <ng-container *ngIf="isFormControl() && isPassword">
    <ion-buttons slot="end">
      <ion-button (click)="showOrHidePassword()">
        <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>
</ion-item>

<ion-item *ngIf="isTextArea()" class="ion-margin-vertical">
  <ion-label position="floating">{{label}}</ion-label>
  <ion-textarea auto-grow="true" debounce="500" [formControl]="control"></ion-textarea>
</ion-item>


