<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">estadisticas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario para agregar un nuevo alimento -->
  <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calorías</ion-label>
      <ion-input formControlName="calories" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Carbohidratos</ion-label>
      <ion-input formControlName="carbs" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grasas</ion-label>
      <ion-input formControlName="fats" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Proteínas</ion-label>
      <ion-input formControlName="protein" type="number" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Agregar Comida</ion-button>
  </form>

  <!-- Lista de alimentos -->
  <ion-list>
    <ion-item *ngFor="let food of foods">
      <ion-label>
        <h2>{{ food.name }}</h2>
        <p>Calorías: {{ food.calories }}</p>
        <p>Carbohidratos: {{ food.carbs }}</p>
        <p>Grasas: {{ food.fats }}</p>
        <p>Proteínas: {{ food.protein }}</p>
      </ion-label>
    </ion-item>
  </ion-list>




</ion-content>

<!-- FOOTER // TABS -->
  
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>

