<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-list>

        <ion-item *ngFor="let food of foods">
          <ion-col size="4">
            <img style="width: 250px; height: auto;" src="{{ food.img }}" alt="{{ food.img }} Imagen">
          </ion-col>
          
          <ion-col size="8">
          
          <ion-label>
            <h2>{{ food.name }}</h2>
            <input type="hidden" id="foodId" name="foodId" value="{{food.id}}">
            <p>Calorías: {{ food.calories }}</p>
            <p>Carbohidratos: {{ food.carbs }}</p>
            <p>Grasas: {{ food.fats }}</p>
            <p>Proteínas: {{ food.protein }}</p>
          </ion-label>
            <!-- ACTUALIZAR ALIMENTO CON MODAL-->
            <ion-button (click)="loadFoodData(food.id); setModalState(true)" color="primary">Actualizar</ion-button>
            <ion-button (click)="deleteFood(food.id)" color="danger">Eliminar</ion-button>

        </ion-col>

        </ion-item>

      </ion-list>

    </ion-row>

  </ion-grid>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Actualizar Comida</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setModalState(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

      <ion-card>
        <!-- FORMULARIO DE EDICIÓN -->
        <form [formGroup]="foodForm" (ngSubmit)="updateFood()">

          <ion-item>
            <!-- <p>{{foodId}}</p> -->
            <ion-label position="floating" for="name">Nombre:</ion-label>
            <ion-input type="text" formControlName="name" id="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="calories">Calorías:</ion-label>
            <ion-input type="text" formControlName="calories" id="calories"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="carbs">Carbohidratos:</ion-label>
            <ion-input type="text" formControlName="carbs" id="carbs"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="fats">Grasas:</ion-label>
            <ion-input type="text" formControlName="fats" id="fats"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="protein">Proteínas:</ion-label>
            <ion-input type="text" formControlName="protein" id="protein"></ion-input>
          </ion-item>

          <ion-button (click)="takeImage()" expand="full" shape="round" class="image-button">
            Seleccionar Imagen
          </ion-button>
    
          <div class="image-container">
            <ng-container *ngIf="foodForm.value.img">
              <ion-item>
                <img [src]="foodForm.value.img" class="food-image"/>
              </ion-item>
            </ng-container>
          </div>
          
          <ion-button expand="full" type="submit" [disabled]="foodForm.invalid">Actualizar Alimento</ion-button>
        </form>
      </ion-card>

      </ion-content>
    </ng-template>
  </ion-modal>


  
  <ion-button expand="block" color="warning" [routerLink]="['/tabs/subdietas/crud-put']">Crear Nuevo Alimento</ion-button>

 
</ion-content>

<!-- FOOTER // TABS -->
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>

