
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/subdietas']">
      <ion-icon class="toolerICON" name="fast-food"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/tabs/home']">
      <ion-icon   class="toolerICON"  name="home"></ion-icon>
       
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/tabs/subrutinas']">
      <ion-icon class="toolerICON"  name="barbell"></ion-icon>
      
    </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>
