<!--<ion-content class="ion-content">

  <h5 class="ion-card-title1">
    A continuación, verás una lista con nuestras sugerencias de rutinas diarias de Ejercicios para mejorar tu condición física:
  </h5>

  <ion-card *ngFor="let ejercicio of ejercicios">
    <img class="exercise-image" [src]="ejercicio.img_exercise" />
    <ion-card-header>
      <ion-card-title class="tittle">{{ ejercicio.class_exercise }}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">{{ ejercicio.description_exercise }}</ion-card-content>
    <p>{{ ejercicio.beginer_exercise }}</p>
    <p>{{ ejercicio.inter_exercise }}</p>
    <p>{{ ejercicio.expert_exercise }}</p>
  </ion-card>


</ion-content>

<!-- FOOTER // TABS -->
  
<ion-footer>
  <ion-toolbar>
    <app-barramenu></app-barramenu>
  </ion-toolbar>
</ion-footer>
