<!--'''
El código proporciona una vista de contenido para una aplicación móvil utilizando el framework Ionic. 
La vista incluye una tarjeta de perfil de usuario, dos tarjetas para diferentes funcionalidades, una tarjeta de estadísticas de 
entrenamiento y una barra de progreso para el progreso diario de metas.

Análisis de código:
### Entradas
- No hay entradas específicas para este código. Utiliza estilos en línea para personalizar la apariencia de los elementos.
___
### Flujo
1. Se define un contenido de ion para la vista.
2. Se crea una tarjeta de perfil de usuario que muestra el nombre y el correo electrónico del usuario.
3. Se crean dos tarjetas para diferentes funcionalidades, una para dietas y otra para rutinas de entrenamiento.
4. Se crea una tarjeta de estadísticas de entrenamiento que muestra información sobre el rendimiento del usuario.
5. Se crea una barra de progreso para mostrar el progreso diario de las metas del usuario.
___
### Salidas
- No hay salidas específicas para este código.
'''-->

<!--- <ion-header >
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/subdietas/crud-list">
        <ion-icon name="add"></ion-icon>
        <ion-badge *ngIf="alimentosCreados > 0">{{ alimentosCreados }}</ion-badge>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content style="margin-top: 20px;">
  <!-- Tarjeta de perfil de usuario -->
  <ion-card>
    <ion-card-content [routerLink]="['/tabs/profile']">
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="margin: auto;">
            <ion-avatar Style="margin: auto;" *ngIf="antropometrico.image">
              <img  [src]="antropometrico.image" />
            </ion-avatar><br>
            <h2>{{ user.name }}</h2>
            <p style="font-size: 10px;">{{ user.email }}</p>
          </ion-col>
          <ion-col size="5" style="text-align: left;">
            <p style="color: #ceff25;">Objetivo:</p>
            <p>{{antropometrico.objetivo}}</p>
            <br>
            <p style="color: #ceff25;">Actividad Física:</p>
            <p>{{antropometrico.nivelActividad}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Dos tarjetas para diferentes funcionalidades -->
  <ion-grid>
    <ion-row>
      <!-- Tarjeta 1 - Dietas -->
      <ion-col size="6">
        <ion-card class="ion-card1">
          <ion-card-content [routerLink]="['/tabs/subdietas']">
            <ion-icon name="fast-food-outline"></ion-icon>
            <h3 class="ion-content1">DIETAS</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Tarjeta 2 - Rutinas de entrenamiento -->
      <ion-col size="6">
        <ion-card>
          <ion-card-content [routerLink]="['/tabs/subrutinas']">
            <ion-icon name="fitness-outline"></ion-icon>
            <h3>RUTINAS</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tarjeta de estadísticas de entrenamiento -->
  <ion-card class="ion-card1">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="barbell-outline"></ion-icon>
            <h3>ESTADÍSTICAS</h3>
          </ion-col>
          <ion-col size="6" style="text-align: left; font-size: 12px;">
            <p style="font-size: 12px;" class="ion-content1">EJERCICIOS REALIZADOS: 45</p>
            <p style="font-size: 12px;" class="ion-content1">CALORÍAS QUEMADAS: 350</p>
            <p style="font-size: 12px;" class="ion-content1">ÚLTIMO ENTRENAMIENTO: 30 MIN</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br>

  <!-- Barra de progreso para el progreso diario de metas -->
  <div class="progress-container" style="width: 90%; margin: auto;">
    <h5 class="progress-label">PROGRESO DIARIO DE METAS</h5>
    <ion-progress-bar class="progress-bar" value="0.75"></ion-progress-bar>
    <p class="progress-value">75%</p>
  </div>
</ion-content>
